<div class="info-page">
  <h2 class="info-page-title">De qué se trata?</h2>
  <p>Organiza2 es la aplicación del presente y del futuro. Con ella puedes crear,
    organizar y desarrollar torneos de fútbol completos!</p>
    <br>
    <p> Solo necesitas las ganas de avanzar y de profesionalizar tus partidos de barrio.
      Con esta aplicación di adiós a las hojas, a las rayas y borrones. Puedes tener todo en un mismo lugar</p>

</div>
