<div class="info-page">


<h2 class="info-page-title">Si quieres organizar tu torneo: </h2>
  <p>Para organizar tu torneo, solo debes tener un nombre para tu torneo, aunque es muy recomendable
    tener logo del torneo y un documento con las bases. <br>Luego de eso, puedes empezar a seleccionar
    los equipos que jugar치n en tu torneo. Organiza2 te da la opci칩n de crear todas las fechas de forma
    autom치tica y solo tienes que agregar los resultados de los partidos para que se vaya actualizacion la
    tabla de posiciones.</p>

<h2 class="info-page-title">Si quieres inscribir a tu equipo:</h2>
<p>Puedes inscribir a tu equipo y a todos los jugadores cuando quieras!.
Apenas lo hagas, podr치s ser inscrito en los diferentes torneos.</p>
</div>
