<div class="info-page">


<h2 class="info-page-title"> Cuál es nuestro objetivo?</h2>
<p>Solo buscamos que puedas disfrutar de tus campeonatos de fútbol, ya sea si eres el creador
  o si eres parte de un equipo de fútbol, esta aplicación hará que toda la organización sea visible para todos
  y sepan de antemano todos los detalles de un campeonato.</p>

  <p>Con Organiza2, puedes por ejemplo: conocer la tabla de posiciones, las bases de un torneo,
    los horarios de los partidos de un equipo en particular, los premios y mucho más!.</p>
    </div>
