<p>
  Estimado/a <%= @user.full_name %>,
</p>

<p>
  Muchas gracias por registrate en nuestro sitio.<br/>
  Desde ahora puedes organizar todos los campeonatos que desees en
  <a href='https://organiza2.herokuapp.com/'>Organiza2</a>
</p>

<p>
  Nuestros mejores deseos,<br/>
  Organiza2
</p>
