<h1>Editing Tournament</h1>

<%= render 'form', tournament: @tournament %>

<%= link_to 'Mostrar', @tournament, :class=>"button-generic" %> |
<%= link_to 'Volver', tournaments_path, :class=>"button-generic" %>
