<h1>Editar jugador</h1>

<%= render 'form', player: @player %>

<%= link_to 'Mostrar información', team_player_path(@team, @player), :class=>"button-generic"  %> |
<%= link_to 'Volver', team_players_path(@team.id), :class=>"button-generic" %>
